.flipcard {
    height: 550px; 
    width: 350px; 
    perspective: 1500px; 
}

/* Estilos comunes para el frente y dorso de la tarjeta */
.cardFront, .cardBack {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.4s;
}

.cardFront {
    background-position: center;
    background-size: cover;
    background-color: #000000;
    transform: rotateX(0deg); 
}

.cardBack {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    transform: rotateX(180deg); 
    position: absolute;
}

.flipcard:hover .cardFront {
    transform: rotateX(-180deg);
}

.flipcard:hover .cardBack {
    transform: rotateX(0deg);
}
